<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee
     http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
         version="4.0">
    <display-name>Archetype Created Web Application</display-name>
    <servlet>
        <!--HelloServlet  小练习-->
        <servlet-name>hello</servlet-name>
        <servlet-class>cn.CodingYoo.Servlet.HelloServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>hello</servlet-name>
        <url-pattern>/HelloServlet</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>set</servlet-name>
        <servlet-class>cn.CodingYoo.Servlet.ServletContextSet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>set</servlet-name>
        <url-pattern>/set</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>get</servlet-name>
        <servlet-class>cn.CodingYoo.Servlet.ServletContextGet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>get</servlet-name>
        <url-pattern>/get</url-pattern>
    </servlet-mapping>

</web-app>
